 {
    "env": {
        "es2021": true,
        "node": true
    },

     "extends": ["prettier"],
     "plugins": ["prettier"],
     "parserOptions": {

        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
